@import "mixin.scss";
@import "common.scss";
.box {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
    font-size: pxTorem(16px);
}

img {
    width: 100%;
}

h2 {
    height: pxTorem(45px);
    line-height: pxTorem(45px);
    // border-bottom: 1px solid #666;
}

header {
    width: 100%;
    height: pxTorem(45px);
    // line-height: pxTorem(45px);
    @include box_flex;
    @include justify(space-between);
    @include align(center);
    padding: 0 pxTorem(10px);
    @include sizing;
    background: skyblue;
    color: #fff;
    .form {
        margin: 0 pxTorem(10px);
        flex: 1;
        height: pxTorem(30px);
        line-height: pxTorem(30px);
        background: #eee;
        @include box_flex;
        input {
            flex: 1;
        }
    }
    .wo {
        text-align: center;
    }
}

section {
    overflow-y: auto;
    flex: 1;
    .bs {
        position: relative;
    }
    #ups,
    #downs {
        position: absolute;
        left: 45%;
        height: pxTorem(45px);
        line-height: pxTorem(45px);
    }
    #ups {
        top: pxTorem(-45px)
    }
    #downs {
        bottom: pxTorem(-45px)
    }
    .swiper-container {
        img {
            width: pxTorem(50px);
            height: pxTorem(50px);
        }
        ul {
            @include box_flex;
            @include flexWrap(wrap);
            width: 100%;
            li {
                width: 25%;
                text-align: center;
            }
        }
    }
    .cons {
        .list {
            @include box_flex;
            .left {
                width: 25%;
                img {
                    width: 100%;
                }
            }
            .right {
                width: 70%;
                padding-left: 5%;
                p {
                    font-size: pxTorem(14px);
                }
                .price {
                    line-height: pxTorem(45px);
                    @include box_flex;
                    @include justify(space-between);
                    span {
                        color: #666;
                        b {
                            color: aqua;
                            font-size: pxTorem(20px);
                        }
                    }
                }
            }
        }
    }
}